<!DOCTYPE html>
<html>
  <head>
    <title>TodoList App</title>
    <!-- bootstrap cdn -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <style>
        #p{        
            width: 550px;
            height: 40px;
        }
    </style>


  </head>

  <body style="background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);">
    <div class="hero">
      <div class="container">
        <h1 class="display-1 text-center">TodoList</h1>
        <p class="text-center">Manage All your tasks</p>
        <center>
            <table class="table table-sm table-hover text-center" >
                <tr>
                    <td><h3>User ID </h3></td>
                    <td><h3><font style="color: orangered;"><%= user._id %></font></h3></td>
                </tr>
                <tr>
                    <td><h3>Email ID </h3></td>
                    <td><h3><font style="color: orangered;"><%= user.useremail %></font></h3></td>
                </tr>
                <tr>
                    <td><h3>Name</h3></td>
                    <td><h3><font style="color: orangered;"><%= user.username %></font></h3></td>
                </tr>
            </table><br><br>
            <h3>Total Number of Tasks : <%= total_task%></h3>
            <h3>Number of tasks Completed :<%= task_completed %></h3>
            <h3>Number of tasks Remaining :<%=  total_task - task_completed %></h3>

            <progress  class="progress-bar" value="<%= task_completed%>" id="p"
                max="<%= total_task%>" ></progress>
           
            <br>

                <a href="/newTask"
                  ><button type="button" class="btn btn-warning mx-auto">
                    ADD TASK
                  </button></a
                >
              
                <!-- based on use id -->
                <a href="/showTasks"
                  ><button type="button" class="btn btn-info mx-auto">
                    SHOW TASKS
                  </button></a
                >
                <br /><br />
                <a href="/userhome"
                  ><button type="button" class="btn btn-danger mx-auto">
                    BACK
                  </button></a
                >
        </center>
    </div>
    <br><br><br>
    <footer class="page-footer font-small indigo">
      <div class="container">
        <div class="row text-center d-flex justify-content-center pt-5 mb-3">
          <div class="col-md-2 mb-3">
            <h6 class="text-uppercase font-weight-bold">
              <a href="https://ruchir-bisht-007.netlify.com/">About Us</a>
            </h6>
          </div>
          <div class="col-md-2 mb-3">
            <h6 class="text-uppercase font-weight-bold">
              <a href="https://github.com/bisht-ruchir-007">GitHub</a>
            </h6>
          </div>
          <div class="col-md-2 mb-3">
            <h6 class="text-uppercase font-weight-bold">
              <a href="https://www.hackerearth.com/challenges/hackathon/stackhack-v1/">Theme</a>
            </h6>
          </div>
          <div class="col-md-2 mb-3">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!">Contact</a>
            </h6>
          </div>
        </div>
        <hr class="rgba-white-light" style="margin: 0 15%;">
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
          <div class="col-md-8 col-12 mt-5">
            <p style="line-height: 1.7rem">This is Task Management To-do list which allows the user to add,serach,filter,sort 
            and view tasks. Every task consist of Task Name , its Due Date , Label and priority. Filtering of the task can be 
            done on the basis of label,priority,task name,due date .</p>
          </div>

        </div>
        <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
      </div>
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://ruchir-bisht-007.netlify.com/"><b>RUCHIR BISHT</b></a>
      </div>
      </footer>
  </body>
</html>
